<section>

</section>

<section>
    <div class="main-wrapper">
        <div class="main-container">
            <div class="text-container">
                <span id="hotel-stars"></span>
                <p id="room-img-desc"></p>
                <button id="availability-rooms">

                </button>
            </div>
            <div>
                <img />
            </div>
        </div>

        <div class="main-container">
            <div class="text-container">
                <div>
                    <span id="restaurant-title"></span>
                    <svg></svg>
                </div>
                <p id="restaurant-desc"></p>
            </div>
            <div>
                <img />
            </div>
        </div>
    </div>
</section>

<section>

</section>