SQL_PASSWORD=<sql-password>
CONN_STRING=<connection-string>
TESTS_CONN_STRING=<localhost,1434 connection-string>

OPENAI_API_KEY=<openai-key>

STRIPE_SECRET_KEY=<sec-key>
STRIPE_PUBLISHABLE_KEY=<pub-key>
STRIPE_WEBHOOK_SECRET=<webhook>

JWT_SECRET_KEY=<jwt-key>

QUEUE_PARAMS=<queue-params>