$danger-red: #c82333;

.canceled-icon {
    color: $danger-red;
    width: 2.25rem;
    height: 2.25rem;
    flex-shrink: 0;

    @media (max-width: 992px) {
        width: 2rem;
        height: 2rem;
    }
}
