#main-wrapper {
    background-color: #EBEBEB;
    height: 60rem;
    display: flex;
    flex-direction: column;
}

.main-container {
    background-color: #122642;
    height: 25rem;
    width: 60%;
}

#right-container, 
#left-container {
    display: flex;
    flex-direction: row;
}

#right-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#left-container {
    align-self: flex-start;
    margin-top: 4rem;
}

.image-container {
    background-color: #D9D9D9;
    align-self: center;
    height: 20rem;
    width: 100%;
}

.image-container left {
    align-self: flex-start;
}

.image-container right {
    align-self: flex-end;
}

img {
    position: absolute;
    height: 20rem;
    padding: 0.5rem
   
}

.text-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.text-container > p {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.text-container svg {
    height: 5rem;
    width: auto;
    color: white;
    justify-self: flex-end;
    gap: 2rem;
    margin: 1.5rem;
}   

.text-title-section {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#restaurant {
    color: white;
    align-self: flex-start;
    padding-left: 3.5rem;
}

#availability-rooms {
    display: inline-block;
    height: 3rem;
    width: 9rem;
    background-color: #3041AE;
    border-radius: 7%;
    color: white; 
    border: none;
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 3.5rem;
}

#availability-rooms:hover {
    background-color: rgb(48, 169, 202);
    transform: scale(1.1);
    transition: 1s;
}

.description {
    color: white;
}

h3 {
    font-size: 3rem;
    padding: 2rem;
    align-self: center;
}

#stars {
    color: rgb(207, 161, 33);
}

#up-wrapper {
    height: 30rem;
}

#down-wrapper {
    height: 40rem;
}

@keyframes slide-in {
    from {
        
    }

    to {
        
    }
}

@keyframes slide-in {
    from {
        
    }

    to {
        
    }
}