* {
    box-sizing: border-box;
}

html {
  font-size: 1rem;
  position: relative;
  min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/home-img.png");
    background-size: cover;
    height: 22rem;
    width: auto;
    border-bottom: solid 0.5rem rgb(27, 29, 98);
}

.nav-container {
    background-color: rgba(64, 64, 64, 0.4);
}

.nav-container,
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    list-style: none;
    padding-top: 0.5rem;
}

.nav-container ul {
    margin-right: 9.5rem;
}

.nav-container li {
    background-color: rgb(111, 136, 138, 0.7);
    height: 3.5rem;
    width: auto;
    padding: 0.5rem;
    padding-top: 0.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.nav-container li:hover {
    background-color: rgb(117, 156, 160);
    font-size: 2.1rem;
}

.nav-container li a {
    text-decoration: none;
    color: rgb(228, 196, 109);

}

.nav-logo {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
    margin-left: 2.2rem;
    cursor: pointer;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(195, 168, 39);
}

.nav-user {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    cursor: pointer;
}

.nav-user svg {
    height: 3rem;
    width: auto;
    color: #D2C4C4;
    background-color: rgb(255, 255, 255, 0.4);
    padding: 0.3rem;
    border-radius: 0.6rem;
}

.nav-user svg:hover {
   background-color: rgb(130, 123, 47);
   color: white; 
}

.search-container {
    height: 12.2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.4);
    border-top: solid 0.2rem rgb(196, 189, 10, 0.7);
    box-shadow: 0 1rem 3rem rgb(210, 210, 210, 0.6);
}

.search-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 2rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.9rem;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    width: 9.5rem;
    border-radius: 1.4rem; 
}

input, select {
    height: 2.7rem;
    padding: 0.4rem;
    border: solid 0.2rem rgb(125, 67, 70);
    border-radius: 1rem;
    cursor: pointer;
}

select {
    margin-top: 0.8rem;
}

.form-label-element {
    color: rgb(124, 31, 31);
    font-weight: 700;
}

.search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1.2rem;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 0.5rem;
}

#search-input {
    height: 2.5rem;
    width: 20rem;
    border: solid 0.2rem rgb(125, 67, 70);
    padding-left: 3rem;
    cursor: text;
}

#search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-btn {
    display: inline-block;
    position: absolute;
    border-radius: 1rem;
    height: 2.5rem;
    border: solid 0.2rem rgb(125, 67, 70);
    background-color: rgb(189, 165, 165);
}

.search-btn svg {
    height: 1.5rem;
    width: auto;
    color: rgb(189, 165, 165);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > .container {
  flex: 1 0 auto;
}

footer {
    background-color: #ADC7DD;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "footer-content-1 footer-content-2"
        "footer-content-3 footer-content-3";
    margin-top: 1.3rem;
}

.footer-content-1 {
    grid-area: footer-content-1;
    color: white;
    justify-items: center;
}

.footer-content-1 > p {
    font-size: 1.4rem;
}

.footer-content-1 ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.footer-list-item p {
    margin: 0;
    padding: 0.1rem;
}

.footer-content-2 {
    grid-area: footer-content-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

.footer-content-3 {
    grid-area: footer-content-3;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0.8rem;
    color: white;
}

.footer-content-3 a {
    text-decoration: none;
}

/* icons */

.icons-row {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.footer-icon {
    display: inline-block;
    width: 2.5rem;
    height: auto;
}

#fb {
    width: 2rem;
}

.footer-icon a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.footer-icon svg {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    color: white;
}

.footer-icon svg:hover {
    color: rgb(48, 169, 202);
    transform: scale(1.3);
}

@media (min-width: 1080px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 16px;
    }
}
