@using HotelReservationSystem.Web.ViewModels
@model LoginViewModel

<h2>Logowanie</h2>

<div class="privacy-container">
    @await Html.PartialAsync("~/Views/Shared/_LoginForm.cshtml", Model ?? new LoginViewModel())
</div>
