@using HotelReservationSystem.Web.ViewModels
@model RegisterViewModel

<h2>Rejestracja</h2>

<div class="privacy-container">
    @await Html.PartialAsync("~/Views/Shared/_RegisterForm.cshtml", new RegisterViewModel())
</div>
