.privacy-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 2rem; 
}

.privacy-container > h1 {
    margin-bottom: 1rem;
}

.privacy-intro {
    margin-bottom: 1rem;
}

.privacy-details h2 {
    margin-top: 1rem;
}

.privacy-contact {
    margin-top: 1.5rem;
}