* {
    box-sizing: border-box;
}

:root {
    --footer-hover-color: rgb(48, 169, 202);
    --footer-text-color: white;
    --border-color: rgb(125, 67, 70);
}

html {
    font-size: 1rem;
    position: relative;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/general/home-img.png");
    background-size: cover;
    height: 22rem;
    width: auto;
    border-bottom: solid 0.5rem rgb(27, 29, 98);
}

.nav-container {
    background-color: rgba(64, 64, 64, 0.4);
}

.nav-container,
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    list-style: none;
    padding-top: 0.5rem;
}

.nav-container ul {
    margin-right: 9.5rem;
}

.nav-container li {
    background-color: rgb(111, 136, 138, 0.7);
    height: 3.5rem;
    width: auto;
    padding: 0.5rem;
    padding-top: 0.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.nav-container li:hover,
.nav-user svg:hover {
    background-color: rgb(117, 156, 160);
    transform: scale(1.1);
    transition: 0.7s;
}

.nav-container li a {
    text-decoration: none;
    color: rgb(228, 196, 109);
}

.nav-logo {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
    margin-left: 2.2rem;
    cursor: pointer;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(195, 168, 39);
}

.nav-user {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    cursor: pointer;
}

.nav-user svg {
    height: 3rem;
    width: auto;
    color: rgb(228, 196, 109);
    background-color: rgb(111, 136, 138, 0.7);
    padding: 0.3rem;
    border-radius: 0.6rem;
}

.search-container {
    height: 12.2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.4);
    border-top: solid 0.2rem rgb(196, 189, 10, 0.7);
    box-shadow: 0 1rem 3rem rgb(210, 210, 210, 0.6);
}

.search-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 2rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.9rem;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    width: 9.5rem;
    border-radius: 1.4rem; 
}

input, select {
    height: 2.7rem;
    padding: 0.4rem;
    border: solid 0.2rem var(--border-color);
    border-radius: 1rem;
    cursor: pointer;
}

select {
    margin-top: 0.8rem;
}

.form-label-element {
    color: rgb(124, 31, 31);
    font-weight: 700;
}

.search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1.2rem;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 0.5rem;
}

#search-input {
    height: 2.5rem;
    width: 20rem;
    border: solid 0.2rem var(--border-color);
    padding-left: 3rem;
    cursor: text;
}

input:focus, select:focus {
    outline: none;
    box-shadow: none;
}

.search-btn {
    display: inline-block;
    position: absolute;
    border-radius: 1rem;
    height: 2.5rem;
    border: solid 0.2rem var(--border-color);
    background-color: rgb(189, 165, 165);
}

.search-btn svg {
    height: 1.5rem;
    width: auto;
    color: rgb(189, 165, 165);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body > .container-fluid {
    flex: 1 0 auto;
    width: 100%;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

footer {
    background-color: #122642;
    margin-top: 3rem;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "footer-content-1 footer-content-2 footer-content-3"
        "footer-content-4 footer-content-4 footer-content-4";
    margin-top: 2rem;
}

.footer-content-1 {
    grid-area: footer-content-1;
    color: var(--footer-text-color);
    justify-items: center;
}

.footer-content-1 > p {
    font-size: 1.4rem;
}

.footer-content-1 ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.footer-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer-list-item svg {
    width: 2rem;
    height: auto;
}

.footer-list-item p {
    margin: 0;
    padding: 0.1rem;
}

.footer-content-2 {
    grid-area: footer-content-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--footer-text-color);
    font-size: 1.4rem;
}

.footer-content-3 {
    grid-area: footer-content-3;
    color: var(--footer-text-color);
    justify-items: center;
}

.footer-content-3 > p {
    font-size: 1.4rem;
}

.footer-content-3 ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    max-width: fit-content;
}

.footer-content-3 a {
    color: var(--footer-link-color);
    text-decoration: none;
}

.footer-content-3 a:hover {
    text-decoration: underline;
}

.footer-content-4 {
    grid-area: footer-content-4;
    color: var(--footer-text-color);
    justify-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 0.8rem;
}

.footer-content-4 ul {
    list-style: none;
    padding: 0;
}

.footer-content-4 a {
    color: var(--footer-link-color);
    text-decoration: none;
}

.footer-content-4 a:hover {
    text-decoration: underline;
}

/* icons */

.icons-row {
    padding-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.footer-icon {
    display: inline-block;
    width: 2.5rem;
    height: auto;
}

#facebook-icon {
    width: 2rem;
}

.footer-icon a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--footer-text-color);
}

.footer-icon svg {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    color: var(--footer-text-color);
}

.footer-icon svg:hover {
    color: var(--footer-hover-color);
    transform: scale(1.3);
    transition: 1s;
}

#copyright a {
    color: var(--footer-text-color);
    font-weight: 600;
}

#copyright a:hover {
    color: var(--footer-hover-color);
}


@media (max-width: 900px) {
    .footer-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "footer-content-1 footer-content-2"
            "footer-content-3 footer-content-3"
            "footer-content-4 footer-content-4";
    }
    .footer-content-3 ul { 
        max-width: 100%; 
    }
}

@media (max-width: 600px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "footer-content-1"
            "footer-content-2"
            "footer-content-3"
            "footer-content-4";
    }
    .footer-content-1, 
    .footer-content-2, 
    .footer-content-3, 
    .footer-content-4 {
        text-align: center;
    }
    .footer-content-3 ul { 
        margin: 0 auto; 
        text-align: left; 
    }
}

@media (max-width: 992px) {
    header {
        height: 18rem;
    }
    .nav-container ul { 
        font-size: 1.6rem;
        margin-right: 2rem; 
        gap: 1.5rem; 
    }
    .nav-logo { 
        font-size: 2.6rem; 
    }
    .search-options { 
        gap: 2rem; 
    }
}

@media (max-width: 768px) {
    header { 
        height: 14rem; 
    }
    .nav-container { 
        flex-direction: column; 
        align-items: flex-start; 
        gap: 0.5rem; 
    }
    .nav-container ul { 
        flex-direction: column; 
        gap: 0.5rem; 
        margin-right: 0; 
        font-size: 1.4rem; 
    }
    .nav-logo { 
        font-size: 2rem; 
        padding-left: 1rem; 
    }
    .nav-user { 
        margin-right: 1rem; 
    }
    .search-options { 
        flex-direction: column; 
        gap: 1rem; 
    }
}

@media (max-width: 480px) {
    header { 
        height: 12rem; 
    }
    .nav-logo { 
        font-size: 1.6rem; 
    }
    .nav-container ul { 
        font-size: 1.1rem; 
        gap: 0.4rem; 
    }
    #search-input { 
        width: 14rem; 
    }
    .form-element { 
        width: 8rem; 
    }
}